/* 共通 */
body {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

.link-color-change:hover {
  color: #e3a8b1;
  transition: 0.3s;
}

ul {
  list-style: none;
}

/* ナビゲーション関連 */

.header {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  color: #f7f7f7;
  background-color: rgba(3, 3, 3, 0.5);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  transition: 0.3s;
  z-index: 2;
}

.menu {
  display: flex;
  align-items: center;
  font-size: 24px;
}
.menu-item {
  margin-right: 20px;
  font-size: 20px;
}

.link-color1 {
  color: #f7f7f7;
}

.link-color2 {
  color: #777;
}

.link-color3 {
  color: #fb332a;
}

.nav-icon {
  width: 32px;
  position: relative;
  top: 5px;
}

.nav-title {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro",
    "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 60px;
  line-height: 80px;
}

/* ヒーローバナー関連 */

.hero {
  background-image: url(../images/light-bulbs.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
}

.hero-title {
  color: #f7f7f7;
  text-align: center;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro",
    "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 90px;
  text-shadow: 0 0 20px rgba(227, 123, 137, 0.4), 0 0 50px rgba(0, 0, 0, 0.8);
  position: relative;
  top: 270px;
}

.hero-catch {
  color: #f7f7f7;
  text-align: center;
  font-size: 24px;
  border: solid 3px #f7f7f7;
  width: 350px;
  margin: 0 auto;
  position: relative;
  top: 250px;
}

.hero-comment {
  color: #f7f7f7;
  text-align: center;
  font-size: 16px;
  position: relative;
  top: 260px;
}

/* トップページコンテンツ */
.top-catch {
  text-align: center;
  font-size: 24px;
  margin-top: 180px;
}

.top-catch-sub {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.top-comment {
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
}

.site-explain {
  display: flex;
  width: 780px;
  border: solid 1px #777;
  margin: 180px auto;
  padding: 20px;
}

.explain-title-sub {
  font-size: 16px;
  margin-top: 20px;
}

.explain-comment {
  font-size: 16px;
  color: #777;
  margin-top: 20px;
}

.explain-comment-sub {
  color: #777;
  font-size: 12px;
  margin-top: 40px;
}

.notes {
  color: #fb332a;
}

.notes:hover {
  cursor: pointer;
}

.explain-figure {
  width: 350px;
  position: relative;
  top: 30px;
  left: 80px;
}

/* ユーザー登録画面、ログイン画面、パスワードリマインダー関連 */
.background-color {
  background-color: rgba(251, 51, 42, 0.15);
}

.form-wrap {
  background-color: #fff;
  box-shadow: 0 10px 25px 0 rgba(11, 11, 11, 0.2);
  margin: 200px auto;
  padding: 45px;
  width: 450px;
}

.site-icon {
  display: block;
  margin: 0 auto;
  width: 55px;
}

.title {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro",
    "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

.catch {
  font-size: 16px;
  text-align: center;
  margin-bottom: 50px;
}

.form-input {
  border: rgba(185, 183, 183, 0.4) 1px solid;
  border-radius: 10px;
  display: block;
  font-size: 14px;
  margin: 0 auto;
  margin-bottom: 4px;
  padding: 14px;
  width: 300px;
}

.form-input:focus {
  box-shadow: 0 0 1px 1.5px rgba(251, 51, 42, 0.2);
  outline: none;
}

::placeholder {
  color: rgba(112, 112, 112, 0.5);
}

.btn {
  background-color: #fb332a;
  color: #f8f4f4;
  display: block;
  transition: background-color 0.5s;
  border-radius: 10px;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 12px;
  padding: 14px;
  width: 300px;
}

.form-btn:focus {
  box-shadow: 0 0 1px 1.5px rgba(251, 51, 42, 0.2);
  outline: none;
}

.btn:hover {
  background-color: #d6332b;
}

.form-comment {
  color: rgba(112, 112, 112, 0.8);
  font-size: 12px;
  margin: 12px;
  text-align: center;
}

.form-container {
  border: solid 1px #777;
  border-radius: 10px;
  padding: 8px 20px 20px 20px;
}

.fontsize-m {
  font-size: 16px;
}

.area-msg {
  color: red;
  font-size: 12px;
  margin: 0 auto;
  margin-bottom: 8px;
  width: 300px;
}

.label {
  font-size: 14px;
  color: rgba(112, 112, 112, 0.8);

  display: block;
  position: relative;
  text-align: center;
}

.checkbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 80px;
  margin: auto;
}

/* フッター関連 */
.footer {
  color: #777;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top: solid 1px #777;
}

.footer-menu {
  display: flex;
}

.footer-item {
  margin: 0 10px;
}

/* スタート時のアニメーション  */
.start {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}
