body {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

.background-color {
  background-color: rgba(251, 51, 42, 0.15);
}

.form-wrap {
  background-color: #fff;
  margin: 200px auto;
  padding: 45px;
  width: 450px;
  box-shadow: 0 10px 25px 0 rgba(11, 11, 11, 0.2);
}

.site-icon {
  display: block;
  width: 55px;
  margin: 0 auto;
}

.title {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro",
    "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

.catch {
  font-size: 16px;
  text-align: center;
  margin-bottom: 50px;
}

.form-input {
  display: block;
  border: rgba(185, 183, 183, 0.4) 1px solid;
  font-size: 14px;
  width: 300px;
  padding: 14px;
  margin: 0 auto;
  margin-bottom: 4px;
  border-radius: 10px;
}

.form-input:focus {
  box-shadow: 0 0 1px 1.5px rgba(251, 51, 42, 0.2);
  outline: none;
}

::placeholder {
  color: rgba(112, 112, 112, 0.5);
}

.btn {
  display: block;
  color: #f8f4f4;
  background-color: #fb332a;
  transition: all 0.5s;
}

.form-btn {
  font-size: 16px;
  width: 300px;
  padding: 14px;
  margin: 0 auto;
  margin-top: 12px;
  border-radius: 10px;
}

.form-btn:focus {
  box-shadow: 0 0 1px 1.5px rgba(251, 51, 42, 0.2);
  outline: none;
}

.btn:hover {
  background-color: #d6332b;
}

.form-comment a {
  text-decoration: none;
  color: #fb332a;
}

.form-comment p {
  color: rgba(112, 112, 112, 0.8);
  font-size: 12px;
  text-align: center;
  margin: 12px;
}

.login {
  font-size: 16px;
}

.area-msg {
  font-size: 12px;
  color: red;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 8px;
}
